
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    font-family: Arial, "微软雅黑";
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 12px Tahoma, Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    color: #333;
    line-height: 1.5;
    border: 0;
    outline: 0;
    
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

address, cite, dfn, em, var {
    font-style: normal
}

code, kbd, pre, samp {
    font-family: courier new, courier, monospace
}

small {
    font-size: 12px
}

ol, ul {
    list-style: none
}

a {
    cursor: pointer;
    text-decoration: none;
    /*color: #0092de*/
}

a:hover {
    text-decoration: none;
    /*color: #33ccff*/
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

input[type=button], input[type=submit] {
    -webkit-appearance: none
}

fieldset, img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

select {
    padding: 1px;
    font-family: Arial, Simsun, sans-serif;
    border: 1px solid #BBB;
    background-color: #FFF
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.layoutfix {
    display: block;
    overflow: hidden
}

.basefix {
    *zoom: 1
}

.basefix:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    overflow: hidden
}

.hide {
    display: none;
    overflow: hidden
}

.show {
    display: block;
    overflow: visible
}

* html .clearfix, :first-child + html .clearfix {
    zoom: 1
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}
