/node_modules
/public/storage
Homestead.yaml
Homestead.json
.eslintrc.json
/node_modules
node_modules
*.DS_Store
.buildpath
.project
.settings
.idea
*.swp
sftp-config.json
.tags
.tags_sorted_by_file
/nbproject/private/
.env.bak
npm-debug.log
